<!DOCTYPE html>
<html lang="en"> 
    @Html.Partial("/Views/Shared/LayoutPartial/HeaderPartial.cshtml")
    <body>
    @Html.Partial("/Views/Shared/LayoutPartial/NavigationBarPartial.cshtml")
    
    @RenderBody()
    <!-- banner bg main end -->
    @Html.Partial("/Views/Shared/LayoutPartial/FooterPartial.cshtml")
    
    @Html.Partial("/Views/Shared/LayoutPartial/ScriptPartial.cshtml")
    
    </body>
</html>